package components

templ AdminButton(isAdmin bool) {
	<button
		id="admin-button"
		class="icon-button"
		hx-get="/admin"
		hx-trigger="click"
		hx-target="#content"
		hx-push-url="true"
		title="Admin"
	>
        if isAdmin {
            <i class="fa-solid fa-user fa-xl success"></i>
        } else {
            <i class="fa-solid fa-user fa-xl"></i>
        }
	</button>
}
