package components

templ HomeButton() {
	<button 
        id="home-button" 
        class="icon-button" 
        hx-get="/" 
        hx-trigger="click" 
        hx-target="#content" 
        hx-push-url="true"
        title="Home"
    >
		<i class="fas fa-solid fa-house fa-xl"></i>
	</button>
}

