package components

import "github.com/kilianmandscharo/lethimcook/types"

templ RecipesPage(isAdmin bool, recipes []types.Recipe) {
	@Header(isAdmin, NewRecipeButton())
	<main>
		@SearchBar()
		@RecipeList(isAdmin, recipes)
	</main>
}
