package components

import "github.com/kilianmandscharo/lethimcook/types"

templ RecipesPage(isAdmin bool, recipes []types.Recipe, paginationInfo types.PaginationInfo) {
	@header(isAdmin)
	<main>
        @recipeListTopSection(paginationInfo.TotalRecipes)
		@RecipeList(isAdmin, recipes, paginationInfo)
        @PageControl(paginationInfo, false)
	</main>
}
