package components

import (
	"fmt"
	"github.com/kilianmandscharo/lethimcook/types"
)

templ RecipeEditPage(id uint, recipeForm []types.FormElement) {
	@Header()
	<main>
		<h1>Rezept bearbeiten</h1>
		<form hx-put={ fmt.Sprintf("/recipe/%d", id) } hx-target="#content">
			@Form(recipeForm)
			<input type="submit" value="Rezept aktualisieren" name="submit"/>
		</form>
	</main>
}
