package components

templ RecipeCreationSuccess() {
	<div>
		Vielen Dank für das Einreichen des Rezepts!
		Nach der Freigabe durch einen Admin wird das Rezept auf der Hauptseite erscheinen.
	</div>
}
