package components

import "github.com/kilianmandscharo/lethimcook/types"

templ RecipeNewPage(recipeForm []types.FormElement) {
	@Header()
	<main>
		<h1>Neues Rezept</h1>
		<form hx-post="/recipe" hx-target="#content">
			@RecipeForm(recipeForm)
			<input type="submit" value="Rezept erstellen" name="submit"/>
		</form>
	</main>
}
