package components

import "github.com/kilianmandscharo/lethimcook/types"

templ RecipesPage(isAdmin bool, recipes []types.Recipe) {
	@Header(isAdmin)
	<main>
        @RecipeListTopSection(recipes)
		@RecipeList(isAdmin, recipes)
	</main>
}
