package components

templ SearchBar() {
	<div class="search-bar">
		<i class="fa-solid fa-magnifying-glass fa-xl"></i>
		<input
			id="search-input"
			placeholder="Rezept suchen..."
			type="text"
			name="query"
			hx-trigger="keyup delay:500ms"
			hx-get="/"
			hx-vals="js:{search: document.getElementById('search-input')?.value || ''}"
			hx-target="#recipe-list"
			hx-swap="outerHTML"
		/>
	</div>
}
