package components

templ searchBar() {
	<div class="search-bar">
		<i class="fa-solid fa-magnifying-glass fa-xl"></i>
		<input
			id="search-input"
			placeholder="Rezept suchen..."
			type="text"
			name="search"
			hx-trigger="keyup delay:500ms"
			hx-get="/"
			hx-target="#recipe-list"
			hx-swap="outerHTML"
            hx-push-url="true"
		/>
	</div>
}
