{{ define "content" }}
<header>
  <div>
    <h1>Admin</h1>
    <div>
      {{ if . }} {{ template "logout-button" . }} {{ end }} {{ template
      "admin-button" . }}{{ template "home-button" . }}
    </div>
  </div>
</header>
<main>
  <div>
    <h2>Anmelden</h2>
    <form hx-post="/auth/login" hx-indicator="#loading" hx-target="#content">
      <input placeholder="Passwort" type="password" name="password" {{ if . }}disabled{{ end }} />
      <input {{ if . }}class="button-disabled" {{ end }} type="submit" value="Anmelden" name="submit" {{ if .
        }}disabled{{ end }} />
    </form>
  </div>
  <div>
    <h2>Passwort ändern</h2>
    <form hx-put="/auth/password" hx-indicator="#loading">
      <input placeholder="altes Passwort" type="password" name="oldPassword" />
      <input placeholder="neues Passwort" type="password" name="newPassword" />
      <input type="submit" value="Bestätigen" name="submit" />
    </form>
  </div>
</main>
{{ end }}
