{{ define "content" }}
<header>
  <div>
    <h1>Lethimcook</h1>
    <div>{{ template "admin-button" }} {{ template "home-button" }}</div>
  </div>
</header>
<main>
  <h2>Neues Rezept</h2>
  <form hx-post="/recipe" hx-target="#content">
    <input placeholder="Titel" type="text" name="title" />
    <input placeholder="Beschreibung" type="text" name="description" />
    <input placeholder="Kochdauer (Minuten)" type="number" name="duration" />
    <textarea placeholder="Zutaten" name="ingredients"></textarea>
    <textarea placeholder="Anleitung" name="instructions"></textarea>
    <input type="submit" value="Rezept erstellen" name="submit" />
  </form>
</main>
{{ end }}
