{{ define "content" }}
<header>
  <div>
    {{ template "heading" . }}
    <div>{{ template "admin-button" . }} {{ template "home-button" . }}</div>
  </div>
</header>
<main>
  <h2>Rezept bearbeiten</h2>
  <form hx-put="/recipe/{{ .Recipe.ID }}" hx-target="#content">
    <label for="title">Titel:</label>
    <input
      id="title"
      placeholder="Titel"
      value="{{ .Recipe.Title }}"
      type="text"
      name="title"
    />
    <label for="description">Beschreibung:</label>
    <input
      id="description"
      placeholder="Beschreibung"
      value="{{ .Recipe.Description }}"
      type="text"
      name="description"
    />
    <label for="duration">Kochdauer (Minuten):</label>
    <input
      id="duration"
      placeholder="Kochdauer (Minuten)"
      type="number"
      name="duration"
      value="{{ .Recipe.Duration }}"
    />
    <label for="ingredients">Zutaten:</label>
    <textarea id="ingredients" placeholder="Zutaten" name="ingredients">{{ .Recipe.Ingredients }}</textarea
    >
    <label for="instructions">Anleitung:</label>
    <textarea id="instructions" placeholder="Anleitung" name="instructions">{{ .Recipe.Instructions }}</textarea
    >
    <input type="submit" value="Rezept aktualisieren" name="submit" />
  </form>
</main>
{{ end }}
