{{ define "content" }}
<div>
  <header>
    <h1>Rezepte</h1>
    <button
      hx-get="/recipe/new"
      hx-target="#main"
      hx-trigger="click"
      hx-push-url="true"
    >
      Neues Rezept
    </button>
  </header>
  <div class="recipe-list">
    {{if .Recipes}} {{range .Recipes}}
    <div id="recipe-{{ .ID }}" class="recipe-list-item">
      <button
        hx-target="#main"
        hx-trigger="click"
        hx-get="/recipe/{{ .ID }}"
        hx-push-url="true"
      >
        {{.Title}}
      </button>
      <button
        class="delete-button"
        hx-target="#recipe-{{ .ID }}"
        hx-swap="outerHTML"
        hx-delete="/recipe/{{ .ID }}"
        hx-trigger="click"
      >
        Löschen
      </button>
    </div>
    {{end}} {{else}}
    <p>Keine Rezepte</p>
    {{end}}
  </div>
</div>
{{ end }}
