{{ define "content" }} {{ if .IsAdmin }}
<div>
  <header>
    <h1>Rezept bearbeiten</h1>
    <button
      hx-get="/recipe/{{ .Recipe.ID }}"
      hx-trigger="click"
      hx-target="#main"
      hx-push-url="true"
    >
      Zurück
    </button>
  </header>
  <form hx-put="/recipe/{{ .Recipe.ID }}" hx-target="#main">
    <input
      placeholder="Titel"
      value="{{ .Recipe.Title }}"
      type="text"
      name="title"
    />
    <input
      placeholder="Beschreibung"
      value="{{ .Recipe.Description }}"
      type="text"
      name="description"
    />
    <input
      placeholder="Kochdauer (Minuten)"
      type="number"
      name="duration"
      value="{{ .Recipe.Duration }}"
    />
    <textarea placeholder="Zutaten" name="ingredients">
{{ .Recipe.Ingredients }}</textarea
    >
    <textarea placeholder="Anleitung" name="instructions">
{{ .Recipe.Instructions }}</textarea
    >
    <input type="submit" value="Rezept aktualisieren" name="submit" />
  </form>
</div>
{{ else }}
<p>Kein Berechtigung</p>
{{ end }} {{ end }}
