{{ define "content" }}
<header>
  <div>
    <h1>Bearbeiten</h1>
    <div>{{ template "admin-button" . }} {{ template "home-button" . }}</div>
  </div>
</header>
<main>
  <form hx-put="/recipe/{{ .Recipe.ID }}" hx-target="#content">
    <input placeholder="Titel" value="{{ .Recipe.Title }}" type="text" name="title" />
    <input placeholder="Beschreibung" value="{{ .Recipe.Description }}" type="text" name="description" />
    <input placeholder="Kochdauer (Minuten)" type="number" name="duration" value="{{ .Recipe.Duration }}" />
    <textarea placeholder="Zutaten" name="ingredients">
      {{ .Recipe.Ingredients }}</textarea>
    <textarea placeholder="Anleitung" name="instructions">
      {{ .Recipe.Instructions }}</textarea>
    <input type="submit" value="Rezept aktualisieren" name="submit" />
  </form>
</main>
{{ end }}
