{{ define "content" }}
<header>
  <div>
    <h1>Rezepte</h1>
    <div>
      {{ if .IsAdmin }} {{ template "new-recipe-button" . }} {{ end }} {{
      template "admin-button" . }} {{ template "home-button" . }}
    </div>
  </div>
</header>
<main>
  <div class="search-bar">
    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    <input
      placeholder="Rezept suchen..."
      type="text"
      name="query"
      hx-trigger="keyup delay:500ms"
      hx-post="/search"
      hx-target="#recipe-list"
      hx-swap="outerHTML"
    />
  </div>
  {{ template "recipe-list" . }}
</main>
{{ end }}
