{{ define "content" }}
<div>
  <header>
    <h1>{{ .Recipe.Title }}</h1>
    <div>
      {{ if .IsAdmin }}
      <button
        hx-get="/recipe/edit/{{ .Recipe.ID }}"
        hx-trigger="click"
        hx-target="#content"
        hx-push-url="true"
      >
        Bearbeiten
      </button>
      {{ end }}
      <button
        hx-get="/"
        hx-trigger="click"
        hx-target="#content"
        hx-push-url="true"
      >
        Zurück
      </button>
    </div>
  </header>
  <p>{{ .Recipe.Description }}</p>
  <p>{{ .Recipe.Duration }}</p>
  <div>{{ .Recipe.Ingredients }}</div>
  <div>{{ .Recipe.Instructions }}</div>
</div>
{{ end }}
