{{ define "content" }}
<header>
  <div>
    {{ template "heading" . }}
    <div>
      {{ if .IsAdmin }}
      <button
        class="icon-button"
        hx-get="/recipe/edit/{{ .Recipe.ID }}"
        hx-trigger="click"
        hx-target="#content"
        hx-push-url="true"
      >
        <i class="fa-solid fa-pen-to-square fa-xl"></i>
      </button>
      {{ end }} {{ template "admin-button" . }} {{ template "home-button" . }}
    </div>
  </div>
</header>
<main>
  <div class="recipe">
    <section class="recipe-heading">
      <h2>{{ .Recipe.Title }}</h2>
      <div class="caret-container">
        <i class="fa-solid fa-caret-right"></i>
        <p>{{ .Recipe.Description }}</p>
      </div>
      <div class="caret-container">
        <i class="fa-solid fa-caret-right"></i>
        <p>Zubereitungszeit: {{ .Recipe.Duration }} Minuten</p>
      </div>
    </section>
    <section>
      <h3>Zutaten</h3>
      <div>{{ .Recipe.Ingredients }}</div>
    </section>
    <section>
      <h3>Anweisungen</h3>
      <div>{{ .Recipe.Instructions }}</div>
    </section>
  </div>
</main>
{{ end }}
