@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-dark: #111827;
  --color-semi-dark: #374151;
  --color-primary: #0284c7;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-dark);
  color: rgba(255, 255, 255, 0.9);
  max-width: 672px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#content {
  min-height: calc(100vh - 48px - 2rem - 2rem);
}

#notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
  border-radius: 4px;
  height: 40px;
  padding: 0 1rem;
  opacity: 0;
  color: var(--color-danger);
}

footer {
  margin-top: 2rem;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer>button {
  all: unset;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border 250ms ease;
}

footer>button:hover {
  border-bottom: 1px solid var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: inherit;
  height: 40px;
  background-color: var(--color-primary);
  min-width: 100px;
}

a {
  color: var(--color-primary);
}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px 1px var(--color-primary);
  font-family: "Protest Riot", sans-serif;
  margin: 0;
}

h4 {
  font-style: italic;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

header>div {
  display: flex;
  gap: 1rem;
}

input {
  padding: 0.5rem;
}

textarea {
  height: 400px;
  font-size: 1.5rem;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-semi-dark);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 18px;
}

.recipe-list-item> :first-child {
  all: unset;
  cursor: pointer;
}

form> :last-child {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  height: 40px;
  color: inherit;
  border-radius: 4px;
}

.button-danger {
  background-color: var(--color-danger);
}

.button-disabled {
  cursor: default !important;
  opacity: 0.6;
}

.loading {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 56px;
  height: 56px;
}

.loading svg {
  animation: 2s linear infinite svg-animation;
}

.loading circle {
  stroke: var(--color-primary);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  animation: 1.4s ease-in-out infinite both circle-animation;
}

@keyframes circle-animation {

  0%,
  25% {
    stroke-dashoffset: 200;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 55;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 200;
    transform: rotate(360deg);
  }
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
