:root {
  --color-dark: #111827;
  --color-semi-dark: #374151;
  --color-primary: #0284c7;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-dark);
  color: rgba(255, 255, 255, 0.9);
  max-width: 896px;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
}

button {
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: inherit;
  height: 40px;
  background-color: var(--color-primary);
  min-width: 100px;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

input {
  padding: 0.5rem;
}

textarea {
  height: 400px;
  font-size: 1.5rem;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-semi-dark);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 18px;
}

.recipe-list-item > :first-child {
  all: unset;
  cursor: pointer;
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-recipe-form > :last-child {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  height: 40px;
  color: inherit;
  border-radius: 4px;
}

.delete-button {
  background-color: var(--color-danger);
}
