<!doctype html>
<html lang="de">
  <head>
    <title>Let Him Cook</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/static/htmx.min.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css"></link>
  </head>
  <body>
    <main id="main">
      {{ template "content" . }}
    </main>
    <footer>
      <button>Impressum</button>
      <button>Datenschutzerklärung</button>
      <button hx-trigger="click" hx-target="#main" hx-get="auth/admin" hx-push-url="true">Admin</button>
    </footer>
  </body>
</html>
